<div class="ui top labeled icon inverted menu" style="border-radius: 0">
    <div class="ui container">
        <div class="header">
            <i style="margin-top: 8px" class="php huge inverted icon"></i>
        </div>
        <a href="{{ url("/") }}" class="item">
            <i class="home icon"></i> Home
        </a>
    </div>
</div>