<div class="ui top labeled icon inverted menu" style="border-radius: 0; overflow-x: scroll; margin: 0 !important">
    <div class="ui container">
        <a class="item">
            <i style="font-size: 40px !important" class="php massive inverted icon"></i>
        </a>
        <a href="{{ url("/") }}" class="item">
            <i class="home icon"></i> Home
        </a>
    </div>
</div>