{% extends "Template.twig" %}
{% set page_title = "Index" %}

{% block content %} 
    <div class="ui container">
        <div class="ui blue segment top attached">
            <h1>Olá mundo!</h1>
        </div>
        <div class="ui attached segment">
            <p>Esta é a página inicial de sua aplicação</p>
            <p>Você pode excluir ou personalizar estes arquivos</p>
        </div>
    </div>
{% endblock %}