{% extends "BaseTemplate.twig" %}
{% set page_title = "Index" %}

{% block menu %} 
{% endblock %} 

{% block content %} 
    <style>
        body
        {
            background: #eee;
        }
    </style>
    <div style="background: #a20025; height: 30vh">
        
    </div>
    <div class="ui container" style="text-align: center; height: 40vh">
        <br>
        <br>

        <h1 style="font-size: 10em; margin: 0; color: #777;">
            <i class="frown outline small icon"></i>405
        </h1>
        <h3 style="margin: 0; color: #777; font-weight: lighter">
            O método solicitado não é permitido.
            <br><br>
            Métodos aceitos: {{ methods }}
        </h3>
    </div>
    <div style="background: #a20025; height: 30vh">
        
    </div>
{% endblock %}